@import '../../base/globales';
@import '../../base/mixins';
@import '../../base/utilidades';
@import '../../base/variables';


.what-help {
    display:  flex;
    flex-flow: column wrap;
    align-items: center;

    @include tablet {
        flex-flow: row wrap;
    }
}

.content-carousel {
    width: 93%; 

    * {
        text-align: justify;
    }
    @include tablet {
        width: 25%;
    }
}

.content-box {
    align-self: center;
    width: 55% !important;
}
.img-products {
    width: 50px;
}
